
@{
    ViewBag.Title = "View1";
}

<h3>@ViewBag.Message</h3>
<h1>AM I IN BOLD?</h1>
<h4>Yes you are</h4>
<p>My name is Jerry</p>
<img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fd2gg9evh47fn9z.cloudfront.net%2F800px_COLOURBOX4057996.jpg&imgrefurl=https%3A%2F%2Fwww.colourbox.com%2Fimage%2Fbusiness-person-holding-document-file-image-4057996&docid=vmZYrdGjALg20M&tbnid=IQqeXITTPRQHkM%3A&vet=10ahUKEwjbhL2D3NXYAhUFwGMKHfykAXsQMwj-ASgAMAA..i&w=800&h=750&client=firefox-b-1-ab&bih=635&biw=1366&q=stock%20photo%20person&ved=0ahUKEwjbhL2D3NXYAhUFwGMKHfykAXsQMwj-ASgAMAA&iact=mrc&uact=8" alt="A person" width="204" height="142">

